<div id="footer" role="contentinfo">
		<div id="colophon">



			<div id="footer-widget-area" role="complementary">

				<div id="first" class="widget-area">
					<ul class="xoxo">
						<li id="meta-2" class="widget-container widget_meta"><h3 class="widget-title">Meta</h3>			<ul>
			<li><a rel="nofollow" href="http://www.riotradio.co.nz/wp-login.php?action=register">Register</a></li>			<li><a rel="nofollow" href="http://www.riotradio.co.nz/wp-login.php">Log in</a></li>
			<li><a href="http://www.riotradio.co.nz/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://www.riotradio.co.nz/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
						</ul>
</li>					</ul>
				</div><!-- #first .widget-area -->




			</div><!-- #footer-widget-area -->

			<div id="site-info">
				<a href="http://www.riotradio.co.nz/" title="Riot Radio" rel="home">
					Riot Radio				</a>
			</div><!-- #site-info -->

			<div id="site-generator">
								<a href="http://wordpress.org/"
						title="Semantic Personal Publishing Platform" rel="generator">
					Proudly powered by WordPress.				</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->