<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

<li id="text-3" class="widget-container widget_text">			<div class="textwidget"><br /><strong><span>Riot Radio</span></strong><br />
Death to conservative music journalism.

</div>
		</li><li id="twitter" class="widget-container widget_Twidget"><a class="twitter-timeline" data-dnt=true href="https://twitter.com/RiotRadioNZ" data-widget-id="292472574313631745"><h3 class="widget-title">Twitter</h3></a>
		      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li><li id="search-2" class="widget-container widget_search"><form role="search" method="get" id="searchform" action="http://www.riotradio.co.nz/" >
	<div><label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="" name="s" id="s" />
	<input type="submit" id="searchsubmit" value="Search" />
	</div>
	</form></li><li id="tag_cloud-3" class="widget-container widget_tag_cloud"><h3 class="widget-title">Tags</h3><div class="tagcloud"><a href='http://www.riotradio.co.nz/tag/arctic-monkeys/' class='tag-link-189' title='3 topics' style='font-size: 11.574468085106pt;'>arctic monkeys</a>
<a href='http://www.riotradio.co.nz/tag/at-the-drive-in/' class='tag-link-132' title='4 topics' style='font-size: 14.553191489362pt;'>at the drive-in</a>
<a href='http://www.riotradio.co.nz/tag/bad-religion/' class='tag-link-64' title='2 topics' style='font-size: 8pt;'>bad religion</a>
<a href='http://www.riotradio.co.nz/tag/best-coast/' class='tag-link-72' title='8 topics' style='font-size: 22pt;'>best coast</a>
<a href='http://www.riotradio.co.nz/tag/chiddy-bang/' class='tag-link-78' title='6 topics' style='font-size: 19.021276595745pt;'>chiddy bang</a>
<a href='http://www.riotradio.co.nz/tag/conservatism/' class='tag-link-73' title='2 topics' style='font-size: 8pt;'>Conservatism</a>
<a href='http://www.riotradio.co.nz/tag/conservatives/' class='tag-link-75' title='2 topics' style='font-size: 8pt;'>conservatives</a>
<a href='http://www.riotradio.co.nz/tag/cults/' class='tag-link-161' title='3 topics' style='font-size: 11.574468085106pt;'>cults</a>
<a href='http://www.riotradio.co.nz/tag/dinosaur-jr/' class='tag-link-37' title='2 topics' style='font-size: 8pt;'>dinosaur jr</a>
<a href='http://www.riotradio.co.nz/tag/does-it-offend-you-yeah/' class='tag-link-63' title='2 topics' style='font-size: 8pt;'>does it offend you yeah</a>
<a href='http://www.riotradio.co.nz/tag/emmy-the-great/' class='tag-link-18' title='3 topics' style='font-size: 11.574468085106pt;'>emmy the great</a>
<a href='http://www.riotradio.co.nz/tag/fucked-up/' class='tag-link-212' title='3 topics' style='font-size: 11.574468085106pt;'>fucked up</a>
<a href='http://www.riotradio.co.nz/tag/get-cape-wear-cape-fly/' class='tag-link-19' title='3 topics' style='font-size: 11.574468085106pt;'>get cape wear cape fly</a>
<a href='http://www.riotradio.co.nz/tag/green-day/' class='tag-link-35' title='3 topics' style='font-size: 11.574468085106pt;'>green day</a>
<a href='http://www.riotradio.co.nz/tag/jay-z/' class='tag-link-215' title='3 topics' style='font-size: 11.574468085106pt;'>jay z</a>
<a href='http://www.riotradio.co.nz/tag/justin-townes-earle/' class='tag-link-17' title='2 topics' style='font-size: 8pt;'>justin townes earle</a>
<a href='http://www.riotradio.co.nz/tag/kanye-west/' class='tag-link-90' title='5 topics' style='font-size: 16.936170212766pt;'>kanye west</a>
<a href='http://www.riotradio.co.nz/tag/liam-finn/' class='tag-link-163' title='3 topics' style='font-size: 11.574468085106pt;'>liam finn</a>
<a href='http://www.riotradio.co.nz/tag/lightspeed-champion/' class='tag-link-28' title='2 topics' style='font-size: 8pt;'>lightspeed champion</a>
<a href='http://www.riotradio.co.nz/tag/lily-allen/' class='tag-link-36' title='2 topics' style='font-size: 8pt;'>lily allen</a>
<a href='http://www.riotradio.co.nz/tag/lupe-fiasco/' class='tag-link-125' title='3 topics' style='font-size: 11.574468085106pt;'>Lupe Fiasco</a>
<a href='http://www.riotradio.co.nz/tag/metallica/' class='tag-link-39' title='2 topics' style='font-size: 8pt;'>metallica</a>
<a href='http://www.riotradio.co.nz/tag/mgmt/' class='tag-link-91' title='2 topics' style='font-size: 8pt;'>mgmt</a>
<a href='http://www.riotradio.co.nz/tag/nme/' class='tag-link-71' title='3 topics' style='font-size: 11.574468085106pt;'>nme</a>
<a href='http://www.riotradio.co.nz/tag/oasis/' class='tag-link-107' title='2 topics' style='font-size: 8pt;'>Oasis</a>
<a href='http://www.riotradio.co.nz/tag/pains-of-being-pure-at-heart/' class='tag-link-221' title='3 topics' style='font-size: 11.574468085106pt;'>pains of being pure at heart</a>
<a href='http://www.riotradio.co.nz/tag/red-hot-chili-peppers/' class='tag-link-121' title='3 topics' style='font-size: 11.574468085106pt;'>red hot chili peppers</a>
<a href='http://www.riotradio.co.nz/tag/steven-sourman/' class='tag-link-112' title='3 topics' style='font-size: 11.574468085106pt;'>Steven Sourman</a>
<a href='http://www.riotradio.co.nz/tag/stone-roses/' class='tag-link-133' title='4 topics' style='font-size: 14.553191489362pt;'>stone roses</a>
<a href='http://www.riotradio.co.nz/tag/sufjan-stevens/' class='tag-link-84' title='2 topics' style='font-size: 8pt;'>sufjan stevens</a>
<a href='http://www.riotradio.co.nz/tag/teenage-fanclub/' class='tag-link-88' title='2 topics' style='font-size: 8pt;'>teenage fanclub</a>
<a href='http://www.riotradio.co.nz/tag/the-doors/' class='tag-link-43' title='2 topics' style='font-size: 8pt;'>the doors</a>
<a href='http://www.riotradio.co.nz/tag/the-go-team/' class='tag-link-11' title='5 topics' style='font-size: 16.936170212766pt;'>the go! team</a>
<a href='http://www.riotradio.co.nz/tag/the-horrors/' class='tag-link-182' title='5 topics' style='font-size: 16.936170212766pt;'>the horrors</a>
<a href='http://www.riotradio.co.nz/tag/the-men/' class='tag-link-213' title='3 topics' style='font-size: 11.574468085106pt;'>the men</a>
<a href='http://www.riotradio.co.nz/tag/the-naked-and-famous/' class='tag-link-62' title='3 topics' style='font-size: 11.574468085106pt;'>the naked and famous</a>
<a href='http://www.riotradio.co.nz/tag/theophilus-london/' class='tag-link-160' title='4 topics' style='font-size: 14.553191489362pt;'>theophilus london</a>
<a href='http://www.riotradio.co.nz/tag/the-shins/' class='tag-link-86' title='2 topics' style='font-size: 8pt;'>the shins</a>
<a href='http://www.riotradio.co.nz/tag/the-strokes/' class='tag-link-127' title='5 topics' style='font-size: 16.936170212766pt;'>the strokes</a>
<a href='http://www.riotradio.co.nz/tag/tommy-ill/' class='tag-link-92' title='2 topics' style='font-size: 8pt;'>tommy ill</a>
<a href='http://www.riotradio.co.nz/tag/washed-out/' class='tag-link-210' title='4 topics' style='font-size: 14.553191489362pt;'>washed out</a>
<a href='http://www.riotradio.co.nz/tag/wavves/' class='tag-link-69' title='5 topics' style='font-size: 16.936170212766pt;'>wavves</a>
<a href='http://www.riotradio.co.nz/tag/weezer/' class='tag-link-34' title='3 topics' style='font-size: 11.574468085106pt;'>weezer</a>
<a href='http://www.riotradio.co.nz/tag/wilco/' class='tag-link-38' title='5 topics' style='font-size: 16.936170212766pt;'>wilco</a>
<a href='http://www.riotradio.co.nz/tag/yuck/' class='tag-link-183' title='3 topics' style='font-size: 11.574468085106pt;'>yuck</a></div>
</li><li id="text-5" class="widget-container widget_text"><h3 class="widget-title">Worst Albums Of All Time</h3>			<div class="textwidget"><br />
<ul>
<li>
<a href="/2012/08/worst-albums-all-time-the-clash-cut-crap/">The Clash - "Cut The Crap"</a></li>
<li>
<a href="/2011/08/worst-albums-of-all-time-u2-all-that-you-cant-leave-behind/">U2 - "All That You Can't Leave Behind"</a></li>
<li>
<a href="/2011/06/worst-albums-of-all-time-mgmt-congratulations/">MGMT - "Congratulations"</a></li>
<li>
<a href="/2011/05/worst-albums-of-all-time-the-verve-urban-hymns/">The Verve - "Urban Hymns"</a></li>
<li>
<a href="/2011/05/worst-albums-of-all-time-bob-dylan-christmas-in-the-heart/">Bob Dylan - "Christmas In The Heart"</a></li>
<li>
<a href="/2011/04/worst-albums-of-all-time-weezer-make-believe/">Weezer - "Make Believe"</a></li>
<li>
<a href="/2011/03/worst-albums-of-all-time-red-hot-chili-peppers-californication/">Red Hot Chili Peppers - "Californication"</a></li>
<li>
<a href="/2011/02/worst-albums-of-all-time-metallica-the-black-album/">Metallica - "Metallica (The Black Album)"</a></li>
</ul>
<br />
<a href="/worst-albums-of-all-time-chart/">Check out the full Worst Albums of All Time chart!</a>
</div>
		</li><li id="categories-2" class="widget-container widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
	<li class="cat-item cat-item-10"><a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts filed under Awesome Shit">Awesome Shit</a>
</li>
	<li class="cat-item cat-item-114"><a href="http://www.riotradio.co.nz/category/best-lyrics/" title="View all posts filed under Best Lyrics">Best Lyrics</a>
</li>
	<li class="cat-item cat-item-136"><a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts filed under Best New Music">Best New Music</a>
</li>
	<li class="cat-item cat-item-118"><a href="http://www.riotradio.co.nz/category/classic-albums/" title="View all posts filed under Classic Albums">Classic Albums</a>
</li>
	<li class="cat-item cat-item-113"><a href="http://www.riotradio.co.nz/category/conservative-music-journalism/" title="View all posts filed under Conservative Music Journalism">Conservative Music Journalism</a>
</li>
	<li class="cat-item cat-item-8"><a href="http://www.riotradio.co.nz/category/gigs/" title="View all posts filed under Gigs">Gigs</a>
</li>
	<li class="cat-item cat-item-126"><a href="http://www.riotradio.co.nz/category/guerrilla-geek/" title="View all posts filed under Guerrilla Geek">Guerrilla Geek</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://www.riotradio.co.nz/category/guest-posts/" title="View all posts filed under Guest Posts">Guest Posts</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.riotradio.co.nz/category/lists/" title="View all posts filed under Lists">Lists</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.riotradio.co.nz/category/mp3s/" title="View all posts filed under Mp3s">Mp3s</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://www.riotradio.co.nz/category/musichype/" title="View all posts filed under MusicHype">MusicHype</a>
</li>
	<li class="cat-item cat-item-291"><a href="http://www.riotradio.co.nz/category/news/" title="View all posts filed under News">News</a>
</li>
	<li class="cat-item cat-item-97"><a href="http://www.riotradio.co.nz/category/overrated/" title="View all posts filed under Overrated">Overrated</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.riotradio.co.nz/category/rants/" title="View all posts filed under Rants">Rants</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.riotradio.co.nz/category/reviews/" title="View all posts filed under Reviews">Reviews</a>
</li>
	<li class="cat-item cat-item-112"><a href="http://www.riotradio.co.nz/category/steven-sourman/" title="View all posts filed under Steven Sourman">Steven Sourman</a>
</li>
	<li class="cat-item cat-item-181"><a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts filed under Streaming">Streaming</a>
</li>
	<li class="cat-item cat-item-103"><a href="http://www.riotradio.co.nz/category/tips/" title="View all posts filed under Tips">Tips</a>
</li>
	<li class="cat-item cat-item-120"><a href="http://www.riotradio.co.nz/category/top-songs/" title="View all posts filed under Top Songs">Top Songs</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.riotradio.co.nz/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.riotradio.co.nz/category/why-are-they-famous/" title="View all posts filed under Why are they famous?">Why are they famous?</a>
</li>
	<li class="cat-item cat-item-98"><a href="http://www.riotradio.co.nz/category/worst-albums/" title="View all posts filed under Worst Albums">Worst Albums</a>
</li>
		</ul>
</li>        <li id="recently-on-last-fm" class="widget-container LastFMRecentTracksWidget_widget_lastfmrecentracks">
        <style type="text/css">
        	<!--
				.sp_list_itm_span { display:block; }
			-->
        </style>
        <h3 class="widget-title"> 
        	<a href="http://www.last.fm/user/MikePenhall" target="_blank">Recently on Last.fm</a>
        </h3>
        <ul id='recent_on_last_fm_itm_list'></ul>
        <script type="text/javascript">
        	jQuery('#recent_on_last_fm_itm_list').lastfm( { params : { limit : "20", user : "MikePenhall"  } } );
        </script>
        </li><li id="recent-comments-2" class="widget-container widget_recent_comments"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"><li class="recentcomments"><a onclick="javascript:_gaq.push(['_trackPageview', '/out/mobilize.org/groups/wagner-airless-paint-sprayers-related-articles/']);"  href='http://mobilize.org/groups/wagner-airless-paint-sprayers-related-articles/' rel='external nofollow' class='url'>mobilize.org</a> on <a href="http://www.riotradio.co.nz/2012/08/worst-albums-all-time-the-clash-cut-crap/#comment-1104">Worst Albums of All Time: The Clash &#8211; &#8216;Cut the Crap&#8217;</a></li><li class="recentcomments"><a onclick="javascript:_gaq.push(['_trackPageview', '/out/iIGURBbVchHB3Di74wG.nl']);"  href='http://iIGURBbVchHB3Di74wG.nl' rel='external nofollow' class='url'>sslIe3rylBDSk</a> on <a href="http://www.riotradio.co.nz/2011/03/riot-radio-on-the-egonomist-podcast/#comment-1103">Riot Radio on The Egonomist podcast</a></li><li class="recentcomments">Stuartq on <a href="http://www.riotradio.co.nz/2011/02/worst-albums-of-all-time-metallica-the-black-album/#comment-1102">Worst Albums Of All Time: Metallica (The Black Album)</a></li><li class="recentcomments">Edwin Montesinos on <a href="http://www.riotradio.co.nz/2011/03/worst-albums-of-all-time-red-hot-chili-peppers-californication/#comment-1101">Worst Albums Of All Time: Red Hot Chili Peppers &#8211; &#8220;Californication&#8221;</a></li><li class="recentcomments">Marchcool on <a href="http://www.riotradio.co.nz/2011/10/why-the-fuck-do-people-like-mumford-and-sons-so-much/#comment-1099">Why the fuck do people like Mumford and Sons so much?</a></li></ul></li><li id="archives-2" class="widget-container widget_archive"><h3 class="widget-title">Archives</h3>		<ul>
			<li><a href='http://www.riotradio.co.nz/2013/05/' title='May 2013'>May 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/04/' title='April 2013'>April 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/03/' title='March 2013'>March 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/02/' title='February 2013'>February 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/01/' title='January 2013'>January 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/12/' title='December 2012'>December 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/10/' title='October 2012'>October 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/08/' title='August 2012'>August 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/06/' title='June 2012'>June 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/04/' title='April 2012'>April 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/03/' title='March 2012'>March 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/02/' title='February 2012'>February 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/01/' title='January 2012'>January 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/12/' title='December 2011'>December 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/11/' title='November 2011'>November 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/10/' title='October 2011'>October 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/09/' title='September 2011'>September 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/08/' title='August 2011'>August 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/07/' title='July 2011'>July 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/06/' title='June 2011'>June 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/05/' title='May 2011'>May 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/04/' title='April 2011'>April 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/03/' title='March 2011'>March 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/02/' title='February 2011'>February 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/01/' title='January 2011'>January 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2010/12/' title='December 2010'>December 2010</a></li>
	<li><a href='http://www.riotradio.co.nz/2010/11/' title='November 2010'>November 2010</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/07/' title='July 2009'>July 2009</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/03/' title='March 2009'>March 2009</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/02/' title='February 2009'>February 2009</a></li>
		</ul>
</li><li id="text-4" class="widget-container widget_text">			<div class="textwidget"><iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRiot-Radio%2F111168912289655&amp;width=200&amp;colorscheme=light&amp;connections=6&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:587px;" allowTransparency="true"></iframe></div>
		</li>			</ul>
		</div><!-- #primary .widget-area -->